.Info {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;

     
        .iphone2 {
            display: none;
        }

        .iphone3 {
            display: none;
        }

        .tablet {
            display: none;
        }

        .desktop {
            display: none;
        }

        h1 {
            text-align: center;
            font-size: 28px;
            font-weight: 800;
        }

        img {}

        p {
            text-align: center;
            font-size: 16px;

        }

    }
}

@media (min-width: 768px) { 
    
    .Info {
        max-width: 720px;

        .container {
            /* display: flex !important; */
            flex-direction: column;
    
            .mobile {
                display: none;
            }
    
            .desktop {
                display: none;
            }
    
            .tablet {
                display: block !important;
            }
    
    
            h1 {
                text-align: center;
                font-size: 28px;
                font-weight: 800;
            }
    
            .Image {
    
                display: flex !important;
                flex-direction: row !important;
    
                .iphone1 {
                    height: 400px;
                    width: 200px;
                }
    
                .iphone2 {
                    display: flex !important;
                }
    
                .iphone3 {
                    display: flex ;
                }
    
    
    
    
            }
    
            p {
                text-align: center;
                font-size: 16px;
    
            }
    
        }
    
    
    }
}

@media (min-width: 1400px) { 
    .Info {
        max-width: 1320px;
        padding-bottom: 5rem;
        .container {
            padding-top: 85rex;

            display: flexbox !important;
            flex-direction: column !important;

            .mobile {
                display: none !important;
            }

            .desktop {
                display: block !important;
               
            }

            .tablet {
                display: none !important;
            }


            h1 {
                text-align: center;
                font-size: 28px;
                font-weight: 800;


            }

            .Image {

                display: flex !important;
                flex-direction: row !important;


                .iphone1 {
                    width: 200%;
                    height: 40rem;
                    padding-right: 5rem;
                    padding-left: 5rem;
                }

                .iphone2 {
                    display: flex !important;
                    width: 120%;
                    height: 40rem;
                }

                .iphone3 {
                    display: flex !important;
                    width: 120%;
                    height: 40rem;
                }




            }

            p {
                text-align: center !important;
                font-size: 22px !important;
                width: 75%;


            }

        }


    }

}