#faq {
    .container {
        margin-top: 5rem;
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        h5 {
            font-size: 18px;
            font-weight: normal;
        }

        h1 {
            font-size: 32px;
            font-weight: 800;
           
        }

        .info {
            display: grid;
            img {
                padding-bottom: 1rem;
            }


            button {
                border: none;
                background: none;
            }

            .tele {
                display: flex;
                flex-direction: row;

                .call {
                    padding-right: 5rem;

                    .phonebtn {
                        padding-top: 1.5rem;
                        padding-left: 3px;
                        color: var(--color-primary);
                    }
                }

                .chat {

                    .chatbtn {
                        padding-top: 1.5rem;
                        padding-left: 3px;
                        color: #22C55E;
                    }
                }
            }
        }


        .accordion {
            max-width: 40rem;
            flex-grow: 1;



            details {
                padding-bottom: 4rem;
                max-width: 50rem;
            }

            summary {
                display: grid;
                grid-template-columns: auto 1fr;
                justify-items: end;

                max-width: 50rem;

                font-size: 16px;
                list-style: none;
                font-weight: 800;
            }

            p {
                font-size: 14px;
                padding-top: 2rem;
                color: var(--color-gray);
            }



            .arrow {
                height: 20px;
            }

            .accordion[open]>img::after {
                transform: rotate(180deg);
            }
        }
    }

}

@media (min-width: 768px) { 
    
}

@media (min-width: 1400px) { 
    #faq {
        .container {
            margin-top: 5rem;
            display: flex;
            justify-content: space-between;
            flex-direction: row;

            h5 {
                font-size: 18px;
                font-weight: normal;
            }

            h1 {
                font-size: 32px;
                font-weight: 800;
               
            }

            .info {
                display: grid;
                img {
                    padding-bottom: 1rem;
                }


                button {
                    border: none;
                    background: none;
                }

                .tele {
                    display: flex;
                    flex-direction: row;

                    .call {
                        padding-right: 5rem;

                        .phonebtn {
                            padding-top: 1.5rem;
                            padding-left: 3px;
                            color: var(--color-primary);
                        }
                    }

                    .chat {

                        .chatbtn {
                            padding-top: 1.5rem;
                            padding-left: 3px;
                            color: #22C55E;
                        }
                    }
                }
            }


            .accordion {
                max-width: 40rem;
                flex-grow: 1;



                details {
                    padding-bottom: 4rem;
                    max-width: 50rem;
                }

                summary {
                    display: grid;
                    grid-template-columns: auto 1fr;
                    justify-items: end;

                    max-width: 50rem;

                    font-size: 16px;
                    list-style: none;
                    font-weight: 800;
                }

                p {
                    font-size: 14px;
                    padding-top: 2rem;
                    color: var(--color-gray);
                }



                .arrow {
                    height: 20px;
                }

                .accordion[open]>img::after {
                    transform: rotate(180deg);
                }
            }
        }

    }
}