@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


:root {
  --color-dark: #0B0F19;
  --color-primary: #6366F1;
  --color-gray: #9397AD;
  --color-dark-gray: #33354D;
  --color-lightgray: #E2E5F1;
  --color-white: #FFFFFF;
  --color-gray100: #F3F6FF;
  --container-padding: 1rem;
  --transition-time: all 0.2s;
 
   .discover-more {
    color: var(--color-black);
  }
}
.hero {
  background: rgb(99, 102, 241);
  background: linear-gradient(0deg, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(241, 244, 253, 0.07) 83%);
}
.dark {
  background-color:var(--color-dark);
  h1 {
    color: var(--color-white);

    font-weight: 800;
  }
  p {
    color: var(--color-gray);
  }
  .discover-more {
    color: var(--color-gray);
  }

  img {
    color: var(--color-gray);
  }
  .Reviews {
    background-color: var(--color-dark);
    .users{
      background-color: var(--color-dark);
    }
  }
  h5 {
    color: var(--color-white);
    font-size: 14px;
    font-weight: normal;
  }

  .accordion {

    summary{
      border-style: solid;
      border-color: #33354D;
    }
    
  }
  a {
    color: var(--color-white);
    text-decoration: none;
}
}
.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.container {
  width: 100%;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  
}

body,
section,
div,
header,
footer,
main,
aside,
nav,
blockquote,
p,
span {
    margin: 0;
    padding: 0;
}

* {
  box-sizing: border-box;
}

