header .container {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto auto;
  grid-template-areas: "logo sw mobile";
  gap: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  justify-items: end;
}