.Subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;     
        

           .container {

            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
              
            
            h1 {
                font-size: 24px;
                font-weight: 800;
                display: flex;
                align-items: center;
                justify-content: center;             
             }
             .desk {
                display: none;
            }

         
        
        
            .subbutton{
                background-color: var(--color-primary);
                color: var(--color-white);
                border-radius: 8px;
                border: none;
                height: 52px;
                width: 142px;
                position: absolute;
                margin-left: 17rem;
                
            }        
            .subbutton:hover {
                background-color: var(--color-gray);
                color: var(--color-white);
                text-decoration: none;
            }
            .textfield{            
                border-radius: 5px;
                height: 52px;
                width: 25rem;           
                }
            .subtext {            
                display: flex;
                flex-direction: column;
                align-items: center;
                
            }        
           }            
        }
    


@media (min-width: 768px) { 
    .Subscribe {
    .container { 
        max-width: 720px;
        display: flex;
        flex-direction: row !important; 
        align-items: center;
        justify-content: center;

}
}

.mobile {
    display: none ;
}
.desk {
    display: none;
}
}

@media (min-width: 1400px) { 
    .Subscribe {
        max-width: 1320px;
        margin-left: 10rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 2rem;
        margin-left: auto;
        margin-right: auto;
        
 

        h1 {
            font-size: 24px;
            font-weight: 800;
           
        }
        .mobile {
            display: none ;
        }

        .subbutton{
            background-color: var(--color-primary);
            color: var(--color-white);
            border-radius: 8px;
            border: none;
            height: 52px;
            width: 142px;
            position: absolute;     
           
            
        }

        .subbutton:hover {
            background-color: var(--color-gray);
            color: var(--color-white);
            text-decoration: none;
        }
        .textfield{            
            border-radius: 5px;
            height: 52px;
            width: 25rem;   
                   
            }
        .subtext {            
            display: flex;
           
        }

       }
        
    }
