.Reviews {
    display: none;
}

@media (min-width: 768px) {
    .Reviews {
        display: none;
    }
}

@media (min-width: 1400px) {
    .Reviews {
        display: grid;
        grid-template-columns: repeat(2, auto);
        margin-top: 15rem;
        background-color: var(--color-gray100);
        max-width: 1320px;
        margin-left: 5rem;


        h1 {
            font-size: 40px;
            font-weight: 800;
            padding-left: 5rem;
        }


        .text {
            height: auto;
            width: auto;
        }

        .cards {
            display: flex;

        }

        .users {
            gap: 20px;
            display: flex;
            padding-top: 2rem;
            margin-top: 2rem;
            width: 50rem;
            margin-left: 7rem;

            background-color: var(--color-white);

            .star {
                padding-bottom: 1rem;
            }

            .profil {
                display: flex !important;
                flex-direction: row;
            }

            .name {
                font-size: 18;
                font-weight: 800;
            }

            .work {
                color: var(--color-gray);
            }

        }

    }
}